.newFeedbackContainer {
  grid-area: newFeedback;
  margin-top: 40px;
  margin-bottom: 25px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [start] auto [second] auto [end];
  grid-template-areas:
    "title"
    "form";

  background: #151419;
  border: 2px solid #24262a;
  box-sizing: border-box;
  border-radius: 5px;
}

.newFeedbackTitleContainer {
  grid-area: title;
  border-bottom: 2px solid #24262a;

  /* border-color: white;
  border-width: 2px;
  border-style: solid; */
}

.newFeedbackTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #ffffff;
  margin-left: 25px;
}

.formFeedbackContainer {
  grid-area: form;
  display: grid;
  grid-template-columns: [start] 40% [middle] auto [end];
  grid-template-rows: [start] auto [second] auto [third] auto [fourth] auto [end];
  grid-template-areas:
    "subjectLabel subject"
    "descriptionLabel description"
    "projectLabel project"
    ". submit";
}

.newFeedbackPrimaryLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #8c8c8d;
  margin-bottom: 2px;
  margin-left: 25px;
}

.newFeedbackSecondaryLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7c7d85;
  margin-top: 2px;
  margin-left: 25px;
}

.newFeedbackSubjectLabelContainer {
  grid-area: subjectLabel;

  /* border-color: green;
  border-width: 2px;
  border-style: solid; */
}

.newFeedbackSubjectContainer {
  grid-area: subject;

  border-color: green;
  border-width: 2px;
  border-style: solid;
}

.newFeedbackDescriptionLabelContainer {
  grid-area: descriptionLabel;

  /* border-color: blue;
  border-width: 2px;
  border-style: solid; */
}

.newFeedbackDescriptionContainer {
  grid-area: description;

  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

.newFeedbackProjectLabelContainer {
  grid-area: projectLabel;

  /* border-color: yellow;
  border-width: 2px;
  border-style: solid; */
}

.newFeedbackProjectContainer {
  grid-area: project;

  border-color: yellow;
  border-width: 2px;
  border-style: solid;
}

.newFeedbackSubmitContainer {
  grid-area: submit;
  text-align: right;

  border-color: orange;
  border-width: 2px;
  border-style: solid;
}

.newFeedbackSubmitButton {
}
