#dropdown-basic-button {
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  #report_text {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
  }
  
  #button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    height: 60px;
    /* identical to box height */
    letter-spacing: 0.025em;
    background: #2E5876;
    border-radius: 8px;
    border-color: #2E5876;
  }